<div class="container-fluid">
    <form (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Your name.." [(ngModel)] = "appointment.name">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="date">Appointment Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="date" name="appointmentDate" placeholder="Your Date.." [(ngModel)] = "appointment.appointmentDate">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="description">Description</label>
        </div>
         <div class="col-75">
            <textarea name="description" id="" cols="30" rows="10" [(ngModel)] = "appointment.description"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" name="submit" value="Update Infor">
      </div>
    </form>
  </div>