<!-- <div>
  <button class="btn btn-primary" [routerLink]="['services-form']">Add Survices</button>
  <button class="btn btn-primary" [routerLink]="['services-list']">View Survices</button>
<div> -->
  <div class="w3-container" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The ones who runs this company</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="../../../assets/Images/hair2.jpg" alt="John" style="width:100%; align-self: start;">
          <div class="w3-container">
            <h3>Hair Dressing</h3>
            <p class="w3-opacity">Hair Styles</p>
            <p>Voluminous <br>Sleek <br>Simple Updo <br>Glamour Updo <br>Rasta</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-top">
        <div class="w3-card">
          <img src="../../../assets/Images/make1.jpg" alt="Jane" style="width:100%">
          <div class="w3-container">
            <h3>Make-up</h3>
            <p class="w3-opacity">Make-up Styles</p>
            <p>Makeup Default <br>Glamour <br>Natural <br>Professional</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="../../../assets/Images/Henna.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>Henna</h3>
            <p>Bridal Henna <br>Oman Henna <br>simle henna <br> indian henna</p>
            <p class="w3-opacity">Henna Design</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="../../../assets/Images/.jpg" alt="Dan" style="width:100%; height: 70%;">
          <div class="w3-container">
            <h3>Dressing</h3>
            <p class="w3-opacity">Out-Fit Style</p>
            <p>Evening Dress <br>Party Dress <br>Formal Dress <br>Bridal Dress</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<router-outlet></router-outlet>
